body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}
h1{
    text-align: center;
}
.contenido{
    /* width: 30%; */
    position: relative;
    display: inline-block;
}
table{
    border: 3px solid rgb(64, 35, 228);
    /* margin: 0 auto; */
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 130%;
    font-weight: bolder;
    margin: 15px;
    margin-bottom: 20px;
    /* border-collapse: collapse; */
    box-shadow: 0px 1px 2px 1px black;
    position: relative;
}

table td{
border: 2px solid black;
background-color: rgb(113, 81, 255);
width: 50px;
/* background-color: blue; */
}



.caja {
    /* display: block; */
    /* float: left; */
    width: 30%;
    position: relative;
}
.movimiento p{
    display: inline ;
}
.tiempo p{
    display: inline ;
}       
.vacio{
background-color: rgb(207, 207, 248);

}
.lleno{
    background-color: rgb(79, 40, 255);
    
}
#enviar{
    margin: 15px;
    font-size: 120%;
    font-weight: bolder;
    background-color: brown;
    box-shadow: 0px 1px 2px 1px black;
}

.tiempo, .movimiento{
   /* font-family:      Calibri; */
   margin: 15px;
   font-size:        20px;
   font-weight:      100;
   color:            rgb(0, 0, 0);
   /* margin:           auto; */
   width:            340px;
}


